@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');   
body{
    background: black;
  }.header-content
  {
    align-items: center;
    justify-content: center;
  }
  .card{
   border: 2px solid black;
    width: 20rem;
    
    color: white;
    height: 10rem;
    background-image: linear-gradient(orange,white, green);
    /* background-color: rgb(112, 112, 236);   */
    border-radius:20px;
  }
  .card:hover{
    transform: scale(1.1);
  }
 .card-recovered
 {
    border: 2px solid black;
    width: 20rem;
    color: white;
    height: 10rem;
    background-color: rgb(40, 133, 40);  
    border-radius:20px;

 }
 .card-recovered:hover{
    transform: scale(1.1);
  }
 .card-confirmed
 {
    border: 2px solid black;
    width: 20rem;
    color: white;
    height: 10rem;
    background-color: rgb(180, 180, 24);  
    border-radius:20px;
}
.card-confirmed:hover{
    transform: scale(1.1);
  }
.card-death
 {
    border: 2px solid black;
    width: 20rem;
    color: white;
    height: 10rem;
    background-color: rgb(245, 56, 56);  
    border-radius:20px;
}
.card-death:hover{
    transform: scale(1.1);
  }
  .card-active
 {
    border: 2px solid black;
    width: 20rem;
    color: white;
    height: 10rem;
    background-color: rgb(112, 112, 236);  
    border-radius:20px;
}
.card-active:hover{
  transform: scale(1.1);
}
.card-update
 {
    border: 2px solid black;
    width: 20rem;
    color: white;
    height: 10rem;
    background-color: rgb(23, 168, 125);  
    border-radius:20px;
}
.card-update:hover{
    transform: scale(1.1);
  }
.card-title span 
{
    font-size:8px;
}
.card-body
{
  text-align: center;
}
.card-text 
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 8px 8px 8px rgb(66, 65, 65);
    z-index: -1;
}
.card-title{
    font-family: 'Mate SC', serif;
}
.card-india
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 8px 8px 8px rgb(66, 65, 65);
     color:rgb(88, 88, 228);
}
   
.title-india{
    font-family: 'Mate SC', serif;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color:rgb(88, 88, 228);
}
.title-india span 
{
    font-size:8px;
}